extends ../adminLayout

block adminContent
	
	.card.shadow
		h3.card-header #{subscribers.message}

		.card-body.table-responsive
			table#subscribers.table.table-striped.table-bordered.table-sm(
				data-toggle="table"
				data-search="true"
				data-show-columns="true"
				data-show-refresh="true"
				data-show-toggle="true"
				data-show-fullscreen="true"
				data-show-columns-toggle-all="true"
				data-detail-view="true"
				data-show-export="true"
				data-minimum-count-columns="2"
				data-show-pagination-switch="true"
				data-pagination="true"
				data-page-list="[10, 25, 50, 100, all]"
				data-show-footer="true"
				data-side-pagination="server")
				
				thead
					tr
						th(scope='col') #
						th(scope='col') Email Address
						th(scope='col') Full Name
						th(scope='col') Status
						th(scope='col') Actions
				tbody
					- let count = 1
					each sub in subscribers.data
						tr
							td(scope='row')= count
							td #{sub.email}
							td #{sub.fullName}
							td
								if sub.active
									a.btn.btn-success.btn-sm(href="#") Active
								else
									a.btn.btn-danger.btn-sm(href="#") Inactive
							td
								a.btn.btn-primary.btn-sm(href='/admin/subscribers/' + sub._id)
									span.fas.fa-eye
						- count ++
					else
						i No Subscribers Found!

block scripts
	script.

		$(function () {
			$('#subscribers').bootstrapTable();
		});