doctype html
html
  head
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    
    title= title

    // Bootstrap 4.0.0
    link(rel="stylesheet" href="/css/bootstrap.min.css")

    link(rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css")
      
    // Font Awesome 
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    
    // Material Design Bootstrap
    //link(href="/css/mdb.min.css" rel="stylesheet")
    
    // custom
    link(rel='stylesheet', href='/css/style.css')

  body

    block navigation
      nav.navbar.navbar-light.bg-success.navbar-expand-lg.fixed-top.shadow
        .container
          a.navbar-brand(href="/")
            h4.text-white Health Torch Uganda
          button.navbar-toggler.navbar-toggler-right(type="button" 
            data-toggle="collapse" data-target="#navbar-content" 
            aria-controls="navbar-content" aria-expanded="false" 
            aria-label="Toggle navigation")
            span.navbar-toggler-icon
          
          #navbar-content.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item(class=(navHome?'active':''))
                a.nav-link.text-white(href="/") Home 
                  i.fas.fa-home
              li.nav-item(class=(navPosts?'active':''))
                a.nav-link.text-white(href="/posts") Posts 
                  i.fas.fa-book-open
              li.nav-item(class=(navQuestions?'active':''))
                a.nav-link.text-white(href="/questions") Questions 
                  i.fas.fa-question
              li.nav-item(class=(navAbout?'active':''))
                a.nav-link.text-white(href='/about') About Us 
                  i.fas.fa-info

            ul.navbar-nav.navbar-right
              if user || true
                li.nav-item(class=(navProfile?'active':''))
                  a.nav-link.text-white(href="/profile/" + (user?user.id:'')) Profile 
                    i.fas.fa-user 
                      
                if user || true
                  li.nav-item.dropdown(class=(navAdmin?'active':''))
                    a.nav-link.text-white.dropdown-toggle(
                      href='#' data-toggle='dropdown' role='button' 
                      aria-haspopup='true' aria-expanded='false' id="admin") Admin Operations 
                      i.fas.fa-cog

                    .dropdown-menu(aria-labeledby='admin')
                      a.dropdown-item(href="/admin" class=(navAdmin?'active':''))
                        i.fas.fa-cog 
                        small  Dashboard
                      .dropdown-divider

                      .dropdown-header Posts
                      a.dropdown-item(href='/admin/posts' class=(navPosts?'active':'')) 
                        i.fas.fa-book-open 
                        small  View | Publish | Draft
                      a.dropdown-item(href="/admin/posts/comments" class=(navPosts&&navComments?'active':'')) 
                        i.fas.fa-book 
                        small  Comments
                      .dropdown-divider
                      
                      .dropdown-header Questions
                      a.dropdown-item(href='/admin/questions' class=(navQuestions?'active':'')) 
                        i.fas.fa-question 
                        small  View | Approve | Discard
                      a.dropdown-item(href="/admin/questions/comments" class=(navQuestions&&navComments?'active':'')) 
                        i.fas.fa-book 
                        small  Comments
                      .dropdown-divider
                      
                      a.dropdown-item(href="/admin/users" class=(navUsers?'active':''))
                        i.fas.fa-users 
                        small  Users
                      a.dropdown-item(href="/admin/partners" class=(navPartners?'active':''))
                        i.fas.fa-user-cog 
                        small  Partners

                li.nav-item
                  a.nav-link.text-white(href="/logout")  
                    i.fas.fa-sign-out-alt

    #content.bg-primary        
      .container
        if true
          .row
            .col-md-8
              h4
                i Welcome
            .col-md-4
                form.form-inline(action="/search", method="get")
                  input.form-control(type="search" placeholder="Search ..." aria-label="Search")
                  button.btn.btn-primary.btn-sm(type="submit") Search 
                    span.fas.fa-search
          hr
              
        block content


  block footer

    footer.footer.text-white.bg-dark.p-4
      .container-fluid
        .row
          .col-md-3
          .col-md-6.text-center
            h4 
              i Our Partners & Sponsors
          .col-md-3.text-right
            a.btn.btn-primary.btn-sm(href="#top")
              span.fas.fa-chevron-up
            hr
            i Health Torch Uganda
            br
            i Copyright &copy; #{(new Date()).getFullYear()}
        
        .dropdown-divider
        .row
          .col-md-2
          .col-md-8
            h4.text-center
              i Important Links
          .col-md-2.text-right
            a.btn.btn-primary.btn-block.btn-sm(href="/login") Login
            a.btn.btn-success.btn-block.btn-sm(href="/signup") Signup


  script(src="/js/jquery.min.js")
  script(src="/js/popper.min.js")
  script(src="/js/bootstrap.min.js")

  script(src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js")
  script(src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js")
  script(src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js")

  script(src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js")
  script(src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js")
  script(src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/print/bootstrap-table-print.min.js")

  
  block scripts
  