extends ../layout

block adminContent
	.card
		.card-header
			h4= title
		
		.card-body.table-responsive
			
			table#posts.table.table-compressed.table-bordered(
				data-toggle="table"
				data-search='true'
				data-trim-on-search='false'
				data-show-columns='true'
				data-show-columns-search='true'
				data-show-columns-toggle-all='true'
				data-show-print='true'
				data-show-export='true'
				data-sort-class="table-active"
				data-sortable='true'
				data-pagination='true'
				data-show-pagination-switch='true'
				data-page-number='1'
				data-show-toggle='true'
				data-show-fullscreen='true'
				data-page-list="[10, 25, 50, 100, 200, All]"
				data-width='100%'
			)
				thead
					tr
						th #
						th title
						th date
						th status
				tbody
					each post in posts
						tr
					tr 
						td 1
						td Title 1
						td #{new Date()}
						td published

block adminScripts
	script.
		
		$(function(){
			$("#posts").bootstrapTable();
		})